<div class="bg-white flex flex-col rounded-md w-[500px] px-4 py-4">
  <div class="flex items-center justify-center py-4">
    <p class="text-3xl font-semibold">Cadastro de Games</p>
  </div>
  <form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
    <div class="flex gap-3 flex-col">
      <app-input-control
        label="Nome"
        placeholder="Digite o nome do jogo"
        control="name"
        type="text"
        [form]="gameForm"
      ></app-input-control>
      <app-input-control
        label="Preço"
        placeholder="Digite o preço do jogo"
        control="price"
        type="number"
        [form]="gameForm"
      ></app-input-control>
      <app-input-control
        label="Categoria"
        placeholder="Digite a categoria do jogo"
        control="category"
        type="text"
        [form]="gameForm"
      ></app-input-control>
      <app-input-control
        label="Descrição"
        placeholder="Digite uma descrição do jogo"
        control="description"
        type="text"
        [form]="gameForm"
      ></app-input-control>
    </div>
    <button
      type="submit"
      class="px-3 py-2 bg-green-500 text-white rounded-md mt-3"
    >
      Salvar
    </button>
  </form>
  <table class="table-auto">
    <thead>
      <tr>
        <th class="px-4 py-2">Nome</th>
        <th class="px-4 py-2">Preço</th>
        <th class="px-4 py-2">Categoria</th>
        <th class="px-4 py-2">Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games">
        <td class="border px-4 py-2">{{ game.name }}</td>
        <td class="border px-4 py-2">{{ game.price }}</td>
        <td class="border px-4 py-2">{{ game.category }}</td>
        <td class="border px-4 py-2">{{ game.description }}</td>
      </tr>
    </tbody>
  </table>
</div>
